nz-footer.border-top([ngClass]="footerClass")
  ul.display-flex
    li
      i(nz-icon,type="clock-circle",theme="outline")
      span 北京时间：10:02
    li 初始化时间：20190219
    li 系统状态：正常运行
    li 登录用户：8888
    li 营业部：GF Canada（8888）
