//- p {{title}}
//- a( routerLink="/home/products/fund" , routerLinkActive="active") 跳转base-info-fund
//- br
//- a( routerLink="/home/products/bund/1111" , routerLinkActive="active") 跳转base-info-bund
//- br
//- a( routerLink="/home/products/price" , routerLinkActive="active") 跳转base-info-price
//- br
//- a(routerLink="/login" , routerLinkActive="active") 调转login

//- br

//- a( routerLink="/home/products",routerLinkActive="active",[routerLinkActiveOptions]="{ exact: true }") 跳转products

router-outlet