nz-progress(*ngIf="progressParam.isShow",
            [nzType]="progressParam.nzType",
            [nzPercent]="progressParam.nzPercent",
            [nzGapPosition]="progressParam.nzGapPosition",
            [nzStrokeWidth]="progressParam.nzStrokeWidth",
            [nzWidth]="progressParam.nzWidth",
            [nzStrokeLinecap]="progressParam.nzStrokeLinecap",
            [nzShowInfo]="progressParam.nzShowInfo",
            [nzFormat]="progressParam.nzFormat",
            [nzStatus]="progressParam.nzStatus")
